<article class="help_page">

  <div class="content">
    <%= @help_page.to_html.html_safe %>
  </div>

  <%= link_to 'List', help_pages_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_help_page_path(@help_page), class: 'btn btn-warning' %>
  <%= link_to(
        'Delete',
        @help_page,
        method: :delete, data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger'
      )
  %>
</article>
