<!DOCTYPE html>
<html>
<head>
  <title>HelpEngine</title>
  <%= stylesheet_link_tag    "help_engine/application", media: "all" %>
  <%= javascript_include_tag "help_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="help_engine">
    <%= yield %>
  </div>
</body>
</html>
